---
import Card from "~/components/Card.astro"
import CardBody from "~/components/CardBody.astro"
import CardFooter from "~/components/CardFooter.astro"
import CardLabel from "~/components/CardLabel.astro"
import CoreWebVitalsGraph from "./CoreWebVitalsGraph.astro"
import LandingSectionText from "./LandingSectionText.astro"
---

<section class="landing-section">
	<LandingSectionText>
		<Fragment slot="title">Full speed</Fragment>
		<Fragment slot="body">
			AI optimizes your workflow like no other technology can. Leverage BhuMe's unique models
			to grow business by reducing turnaround time.
		</Fragment>
	</LandingSectionText>

	<div class="mt-12 w-full max-w-5xl px-4">
		<Card>
			<CardBody>
				<CardLabel>Real-World Performance Comparison</CardLabel>
				<p class="text-center">
					Average hours to deliver one search report (in hours)
				</p>

				<CoreWebVitalsGraph />
				<CardFooter>
					<p class="text-center">
						Based on real-world performance data • <a
							href="/blog/2023-web-framework-performance-report/"
							class="link-underline">Read the full report</a
						>
					</p>
				</CardFooter>
			</CardBody>
		</Card>
	</div>
</section>
