---
import { Icon } from "astro-icon"
import CodeBlock from "~/components/CodeBlock.astro"
import ExternalLink from "~/components/ExternalLink.astro"
import PageTitleBlock from "~/components/PageTitleBlock.astro"
import PillLink from "./PillLink.astro"

const logos = [
	{ src: "logos/google", alt: "Google Logo", class: "py-1 -mb-1 md:-mb-2 lg:-mb-2.5" },
	{ src: "logos/microsoft", alt: "Microsoft Logo", class: "py-2" },
	{ src: "logos/nordvpn", alt: "NordVPN Logo", class: "py-1" },
	{ src: "logos/rokt", alt: "Rokt Logo", class: "py-2" },
	{ src: "logos/theguardian", alt: "The Guardian Logo", class: "py-1.5" },
	{ src: "logos/trivago", alt: "Trivago Logo", class: "py-1" },
]
---

<section class="landing-section relative overflow-x-hidden pb-40 pt-14 sm:pt-20 lg:pt-32">
	<PillLink title="Blog is live!" subtitle="Learn more" href="https://blog.bhume.in" class="mb-8" />
	<PageTitleBlock
		lg
		body="BhuMe speeds up the due diligence process by 10X using large language models."
	>
		<h1
			slot="title"
			class="heading-1 mb-4 max-w-[56rem] px-4 text-center font-obviously text-5xl/[1.1] font-semibold md:text-6xl/[1.1]"
		>
			The AI co-pilot for Mortgage Lawyers
		</h1>
	</PageTitleBlock>

	<div class="mb-14 mt-8 flex w-full justify-center gap-6 sm:mb-16 md:mb-20 lg:mb-24 xl:mb-28">
		<ExternalLink href="https://uat.bhume.in/" class="button button-white">
			Start a free trial 
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="10 0 320 512" width="16" height="16"><path fill="#3247FF" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
		</ExternalLink>
		<ExternalLink href="https://calendly.com/rajatpiplewar/30min" class="button">
			Get a demo
		</ExternalLink>
		<!-- <div class="hidden sm:block">
			<CodeBlock>npm create astro@latest</CodeBlock>
		</div> -->
	</div>

	<div class="flex flex-col gap-x-6 gap-y-8 px-4 md:px-6 lg:flex-row lg:items-center">
		<p class="body px-8 text-astro-gray-200 lg:max-w-[12rem] lg:px-0 lg:text-left xl:text-lg">
			Used by the best lawyers across India:
		</p>
		<div class="flex flex-wrap items-center justify-center gap-x-8 gap-y-12 px-4">
			{
				logos.map((logo) => (
					<Icon
						name={logo.src}
						aria-label={logo.alt}
						height={48}
						class:list={["h-8 object-contain text-white sm:h-10 lg:h-11 xl:h-12", logo.class]}
					/>
				))
			}
		</div>
	</div>
</section>

<style>
	section::before {
		@apply absolute z-blur;
		content: "";
		top: 0%;
		bottom: 10%;
		width: 150%;
		left: -25%;
		background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
		mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
	}
</style>
